/FN.Test.Functions/obj/Debug/net5.0/FN.Testing.Functions.assets.cache
/FN.Test.Functions/obj/Debug/net5.0/FN.Testing.Functions.csprojAssemblyReference.cache
/FN.Test.Functions/obj/FN.Testing.Functions.csproj.nuget.dgspec.json
/FN.Test.Functions/obj/FN.Testing.Functions.csproj.nuget.g.props
/FN.Test.Functions/obj/project.assets.json
/FN.Testing.Application.Contract/obj/Debug/net5.0/FN.Testing.Application.Contract.assets.cache
/FN.Testing.Application.Contract/obj/Debug/net5.0/FN.Testing.Application.Contract.csprojAssemblyReference.cache
/FN.Testing.Application.Contract/obj/FN.Testing.Application.Contract.csproj.nuget.dgspec.json
/FN.Testing.Application.Contract/obj/FN.Testing.Application.Contract.csproj.nuget.g.props
/FN.Testing.Application.Contract/obj/project.assets.json
/FN.Testing.Application/obj/Debug/net5.0/FN.Testing.Application.assets.cache
/FN.Testing.Application/obj/Debug/net5.0/FN.Testing.Application.csprojAssemblyReference.cache
/FN.Testing.Application/obj/FN.Testing.Application.csproj.nuget.dgspec.json
/FN.Testing.Application/obj/FN.Testing.Application.csproj.nuget.g.props
/FN.Testing.Application/obj/project.assets.json
/FN.Testing.Business.Contract/obj/Debug/net5.0/FN.Testing.Business.Contract.assets.cache
/FN.Testing.Business.Contract/obj/Debug/net5.0/FN.Testing.Business.Contract.csprojAssemblyReference.cache
/FN.Testing.Business.Contract/obj/FN.Testing.Business.Contract.csproj.nuget.dgspec.json
/FN.Testing.Business.Contract/obj/FN.Testing.Business.Contract.csproj.nuget.g.props
/FN.Testing.Business.Contract/obj/project.assets.json
/FN.Testing.Business/obj/Debug/net5.0/FN.Testing.Business.assets.cache
/FN.Testing.Business/obj/Debug/net5.0/FN.Testing.Business.csprojAssemblyReference.cache
/FN.Testing.Business/obj/FN.Testing.Business.csproj.nuget.dgspec.json
/FN.Testing.Business/obj/FN.Testing.Business.csproj.nuget.g.props
/FN.Testing.Business/obj/project.assets.json
/FN.Testing.Common/obj/Debug/net5.0/FN.Testing.Common.assets.cache
/FN.Testing.Common/obj/Debug/net5.0/FN.Testing.Common.csprojAssemblyReference.cache
/FN.Testing.Common/obj/FN.Testing.Common.csproj.nuget.dgspec.json
/FN.Testing.Common/obj/FN.Testing.Common.csproj.nuget.g.props
/FN.Testing.Common/obj/project.assets.json
/FN.Testing.DataLayer.Contract/obj/Debug/net5.0/FN.Testing.DataLayer.Contract.assets.cache
/FN.Testing.DataLayer.Contract/obj/Debug/net5.0/FN.Testing.DataLayer.Contract.csprojAssemblyReference.cache
/FN.Testing.DataLayer.Contract/obj/FN.Testing.DataLayer.Contract.csproj.nuget.dgspec.json
/FN.Testing.DataLayer.Contract/obj/FN.Testing.DataLayer.Contract.csproj.nuget.g.props
/FN.Testing.DataLayer.Contract/obj/project.assets.json
/FN.Testing.DataLayer/obj/Debug/net5.0/FN.Testing.DataLayer.assets.cache
/FN.Testing.DataLayer/obj/Debug/net5.0/FN.Testing.DataLayer.csprojAssemblyReference.cache
/FN.Testing.DataLayer/obj/FN.Testing.DataLayer.csproj.nuget.dgspec.json
/FN.Testing.DataLayer/obj/FN.Testing.DataLayer.csproj.nuget.g.props
/FN.Testing.DataLayer/obj/project.assets.json
/FN.Testing.Entities/obj/Debug/net5.0/FN.Testing.Entities.assets.cache
/FN.Testing.Entities/obj/FN.Testing.Entities.csproj.nuget.dgspec.json
/FN.Testing.Entities/obj/FN.Testing.Entities.csproj.nuget.g.props
/FN.Testing.Entities/obj/project.assets.json
/FN.Testing.Web/obj/Debug/net5.0/FN.Testing.Web.assets.cache
/FN.Testing.Web/obj/Debug/net5.0/FN.Testing.Web.csprojAssemblyReference.cache
/FN.Testing.Web/obj/FN.Testing.Web.csproj.nuget.dgspec.json
/FN.Testing.Web/obj/FN.Testing.Web.csproj.nuget.g.props
/FN.Testing.Web/obj/project.assets.json
/FN.Testing.WebApi.Common/obj/Debug/net5.0/FN.Testing.WebApi.Common.assets.cache
/FN.Testing.WebApi.Common/obj/Debug/net5.0/FN.Testing.WebApi.Common.csprojAssemblyReference.cache
/FN.Testing.WebApi.Common/obj/FN.Testing.WebApi.Common.csproj.nuget.dgspec.json
/FN.Testing.WebApi.Common/obj/FN.Testing.WebApi.Common.csproj.nuget.g.props
/FN.Testing.WebApi.Common/obj/project.assets.json
/FN.Testing.WebApi.Configuration/obj/Debug/net5.0/FN.Testing.WebApi.Configuration.assets.cache
/FN.Testing.WebApi.Configuration/obj/Debug/net5.0/FN.Testing.WebApi.Configuration.csprojAssemblyReference.cache
/FN.Testing.WebApi.Configuration/obj/FN.Testing.WebApi.Configuration.csproj.nuget.dgspec.json
/FN.Testing.WebApi.Configuration/obj/FN.Testing.WebApi.Configuration.csproj.nuget.g.props
/FN.Testing.WebApi.Configuration/obj/project.assets.json
/FN.Testing.WebApi/obj/Debug/net5.0/FN.Testing.WebApi.assets.cache
/FN.Testing.WebApi/obj/Debug/net5.0/FN.Testing.WebApi.csprojAssemblyReference.cache
/FN.Testing.WebApi/obj/FN.Testing.WebApi.csproj.nuget.dgspec.json
/FN.Testing.WebApi/obj/FN.Testing.WebApi.csproj.nuget.g.props
/FN.Testing.WebApi/obj/project.assets.json
/FN.Testing.WinForm/obj/Debug/net5.0-windows/FN.Testing.WinForm.assets.cache
/FN.Testing.WinForm/obj/Debug/net5.0-windows/FN.Testing.WinForm.csprojAssemblyReference.cache
/FN.Testing.WinForm/obj/FN.Testing.WinForm.csproj.nuget.dgspec.json
/FN.Testing.WinForm/obj/FN.Testing.WinForm.csproj.nuget.g.props
/FN.Testing.WinForm/obj/project.assets.json
/FN.Test.Functions/obj/Debug/net5.0/FN.Testing.Functions.assets.cache
/FN.Test.Functions/obj/FN.Testing.Functions.csproj.nuget.dgspec.json
/FN.Test.Functions/obj/FN.Testing.Functions.csproj.nuget.g.props
/FN.Test.Functions/obj/project.assets.json
/FN.Testing.Application.Contract/obj/Debug/net5.0/FN.Testing.Application.Contract.assets.cache
/FN.Testing.Application.Contract/obj/Debug/net5.0/FN.Testing.Application.Contract.csprojAssemblyReference.cache
/FN.Testing.Application.Contract/obj/FN.Testing.Application.Contract.csproj.nuget.dgspec.json
/FN.Testing.Application.Contract/obj/FN.Testing.Application.Contract.csproj.nuget.g.props
/FN.Testing.Application.Contract/obj/project.assets.json
/FN.Testing.Application/obj/Debug/net5.0/FN.Testing.Application.assets.cache
/FN.Testing.Application/obj/Debug/net5.0/FN.Testing.Application.csprojAssemblyReference.cache
/FN.Testing.Application/obj/FN.Testing.Application.csproj.nuget.dgspec.json
/FN.Testing.Application/obj/FN.Testing.Application.csproj.nuget.g.props
/FN.Testing.Application/obj/project.assets.json
/FN.Testing.Business.Contract/obj/Debug/net5.0/FN.Testing.Business.Contract.assets.cache
/FN.Testing.Business.Contract/obj/Debug/net5.0/FN.Testing.Business.Contract.csprojAssemblyReference.cache
/FN.Testing.Business.Contract/obj/FN.Testing.Business.Contract.csproj.nuget.dgspec.json
/FN.Testing.Business.Contract/obj/FN.Testing.Business.Contract.csproj.nuget.g.props
/FN.Testing.Business.Contract/obj/project.assets.json
/FN.Testing.Business/obj/Debug/net5.0/FN.Testing.Business.assets.cache
/FN.Testing.Business/obj/Debug/net5.0/FN.Testing.Business.csprojAssemblyReference.cache
/FN.Testing.Business/obj/FN.Testing.Business.csproj.nuget.dgspec.json
/FN.Testing.Business/obj/FN.Testing.Business.csproj.nuget.g.props
/FN.Testing.Business/obj/project.assets.json
/FN.Testing.Common/obj/Debug/net5.0/FN.Testing.Common.assets.cache
/FN.Testing.Common/obj/Debug/net5.0/FN.Testing.Common.csprojAssemblyReference.cache
/FN.Testing.Common/obj/FN.Testing.Common.csproj.nuget.dgspec.json
/FN.Testing.Common/obj/FN.Testing.Common.csproj.nuget.g.props
/FN.Testing.Common/obj/project.assets.json
/FN.Testing.DataLayer.Contract/obj/Debug/net5.0/FN.Testing.DataLayer.Contract.assets.cache
/FN.Testing.DataLayer.Contract/obj/FN.Testing.DataLayer.Contract.csproj.nuget.dgspec.json
/FN.Testing.DataLayer.Contract/obj/FN.Testing.DataLayer.Contract.csproj.nuget.g.props
/FN.Testing.DataLayer.Contract/obj/project.assets.json
/FN.Testing.DataLayer/obj/Debug/net5.0/FN.Testing.DataLayer.assets.cache
/FN.Testing.DataLayer/obj/Debug/net5.0/FN.Testing.DataLayer.csprojAssemblyReference.cache
/FN.Testing.DataLayer/obj/FN.Testing.DataLayer.csproj.nuget.dgspec.json
/FN.Testing.DataLayer/obj/FN.Testing.DataLayer.csproj.nuget.g.props
/FN.Testing.DataLayer/obj/project.assets.json
/FN.Testing.Entities/obj/Debug/net5.0/FN.Testing.Entities.assets.cache
/FN.Testing.Entities/obj/FN.Testing.Entities.csproj.nuget.dgspec.json
/FN.Testing.Entities/obj/FN.Testing.Entities.csproj.nuget.g.props
/FN.Testing.Entities/obj/project.assets.json
/FN.Testing.Web/obj/Debug/net5.0/FN.Testing.Web.assets.cache
/FN.Testing.Web/obj/Debug/net5.0/FN.Testing.Web.csprojAssemblyReference.cache
/FN.Testing.Web/obj/FN.Testing.Web.csproj.nuget.dgspec.json
/FN.Testing.Web/obj/FN.Testing.Web.csproj.nuget.g.props
/FN.Testing.Web/obj/project.assets.json
/FN.Testing.WebApi.Common/obj/Debug/net5.0/FN.Testing.WebApi.Common.assets.cache
/FN.Testing.WebApi.Common/obj/Debug/net5.0/FN.Testing.WebApi.Common.csprojAssemblyReference.cache
/FN.Testing.WebApi.Common/obj/FN.Testing.WebApi.Common.csproj.nuget.dgspec.json
/FN.Testing.WebApi.Common/obj/FN.Testing.WebApi.Common.csproj.nuget.g.props
/FN.Testing.WebApi.Common/obj/project.assets.json
/FN.Testing.WebApi.Configuration/obj/Debug/net5.0/FN.Testing.WebApi.Configuration.assets.cache
/FN.Testing.WebApi.Configuration/obj/Debug/net5.0/FN.Testing.WebApi.Configuration.csprojAssemblyReference.cache
/FN.Testing.WebApi.Configuration/obj/FN.Testing.WebApi.Configuration.csproj.nuget.dgspec.json
/FN.Testing.WebApi.Configuration/obj/FN.Testing.WebApi.Configuration.csproj.nuget.g.props
/FN.Testing.WebApi.Configuration/obj/project.assets.json
/FN.Testing.WebApi/obj/Debug/net5.0/FN.Testing.WebApi.assets.cache
/FN.Testing.WebApi/obj/Debug/net5.0/FN.Testing.WebApi.csprojAssemblyReference.cache
/FN.Testing.WebApi/obj/FN.Testing.WebApi.csproj.nuget.dgspec.json
/FN.Testing.WebApi/obj/FN.Testing.WebApi.csproj.nuget.g.props
/FN.Testing.WebApi/obj/project.assets.json
/FN.Testing.WinForm/obj/Debug/net5.0-windows/FN.Testing.WinForm.assets.cache
/FN.Testing.WinForm/obj/Debug/net5.0-windows/FN.Testing.WinForm.csprojAssemblyReference.cache
/FN.Testing.WinForm/obj/FN.Testing.WinForm.csproj.nuget.dgspec.json
/FN.Testing.WinForm/obj/FN.Testing.WinForm.csproj.nuget.g.props
/FN.Testing.WinForm/obj/project.assets.json
/FN.Test.Functions/obj/Debug/net5.0/FN.Testing.Functions.assets.cache
/FN.Test.Functions/obj/FN.Testing.Functions.csproj.nuget.dgspec.json
/FN.Test.Functions/obj/FN.Testing.Functions.csproj.nuget.g.props
/FN.Test.Functions/obj/project.assets.json
/FN.Testing.Application.Contract/obj/Debug/net5.0/FN.Testing.Application.Contract.assets.cache
/FN.Testing.Application.Contract/obj/Debug/net5.0/FN.Testing.Application.Contract.csprojAssemblyReference.cache
/FN.Testing.Application.Contract/obj/FN.Testing.Application.Contract.csproj.nuget.dgspec.json
/FN.Testing.Application.Contract/obj/FN.Testing.Application.Contract.csproj.nuget.g.props
/FN.Testing.Application.Contract/obj/project.assets.json
/FN.Testing.Application/obj/Debug/net5.0/FN.Testing.Application.assets.cache
/FN.Testing.Application/obj/Debug/net5.0/FN.Testing.Application.csprojAssemblyReference.cache
/FN.Testing.Application/obj/FN.Testing.Application.csproj.nuget.dgspec.json
/FN.Testing.Application/obj/FN.Testing.Application.csproj.nuget.g.props
/FN.Testing.Application/obj/project.assets.json
/FN.Testing.Business.Contract/obj/Debug/net5.0/FN.Testing.Business.Contract.assets.cache
/FN.Testing.Business.Contract/obj/Debug/net5.0/FN.Testing.Business.Contract.csprojAssemblyReference.cache
/FN.Testing.Business.Contract/obj/FN.Testing.Business.Contract.csproj.nuget.dgspec.json
/FN.Testing.Business.Contract/obj/FN.Testing.Business.Contract.csproj.nuget.g.props
/FN.Testing.Business.Contract/obj/project.assets.json
/FN.Testing.Business/obj/Debug/net5.0/FN.Testing.Business.assets.cache
/FN.Testing.Business/obj/Debug/net5.0/FN.Testing.Business.csprojAssemblyReference.cache
/FN.Testing.Business/obj/FN.Testing.Business.csproj.nuget.dgspec.json
/FN.Testing.Business/obj/FN.Testing.Business.csproj.nuget.g.props
/FN.Testing.Business/obj/project.assets.json
/FN.Testing.Common/obj/Debug/net5.0/FN.Testing.Common.assets.cache
/FN.Testing.Common/obj/Debug/net5.0/FN.Testing.Common.csprojAssemblyReference.cache
/FN.Testing.Common/obj/FN.Testing.Common.csproj.nuget.dgspec.json
/FN.Testing.Common/obj/FN.Testing.Common.csproj.nuget.g.props
/FN.Testing.Common/obj/project.assets.json
/FN.Testing.DataLayer.Contract/obj/Debug/net5.0/FN.Testing.DataLayer.Contract.assets.cache
/FN.Testing.DataLayer.Contract/obj/FN.Testing.DataLayer.Contract.csproj.nuget.dgspec.json
/FN.Testing.DataLayer.Contract/obj/FN.Testing.DataLayer.Contract.csproj.nuget.g.props
/FN.Testing.DataLayer.Contract/obj/project.assets.json
/FN.Testing.DataLayer/obj/Debug/net5.0/FN.Testing.DataLayer.assets.cache
/FN.Testing.DataLayer/obj/Debug/net5.0/FN.Testing.DataLayer.csprojAssemblyReference.cache
/FN.Testing.DataLayer/obj/FN.Testing.DataLayer.csproj.nuget.dgspec.json
/FN.Testing.DataLayer/obj/FN.Testing.DataLayer.csproj.nuget.g.props
/FN.Testing.DataLayer/obj/project.assets.json
/FN.Testing.Entities/obj/Debug/net5.0/FN.Testing.Entities.assets.cache
/FN.Testing.Entities/obj/FN.Testing.Entities.csproj.nuget.dgspec.json
/FN.Testing.Entities/obj/FN.Testing.Entities.csproj.nuget.g.props
/FN.Testing.Entities/obj/project.assets.json
/FN.Testing.Web/obj/Debug/net5.0/FN.Testing.Web.assets.cache
/FN.Testing.Web/obj/Debug/net5.0/FN.Testing.Web.csprojAssemblyReference.cache
/FN.Testing.Web/obj/FN.Testing.Web.csproj.nuget.dgspec.json
/FN.Testing.Web/obj/FN.Testing.Web.csproj.nuget.g.props
/FN.Testing.Web/obj/project.assets.json
/FN.Testing.WebApi.Common/obj/Debug/net5.0/FN.Testing.WebApi.Common.assets.cache
/FN.Testing.WebApi.Common/obj/Debug/net5.0/FN.Testing.WebApi.Common.csprojAssemblyReference.cache
/FN.Testing.WebApi.Common/obj/FN.Testing.WebApi.Common.csproj.nuget.dgspec.json
/FN.Testing.WebApi.Common/obj/FN.Testing.WebApi.Common.csproj.nuget.g.props
/FN.Testing.WebApi.Common/obj/project.assets.json
/FN.Testing.WebApi.Configuration/obj/Debug/net5.0/FN.Testing.WebApi.Configuration.assets.cache
/FN.Testing.WebApi.Configuration/obj/Debug/net5.0/FN.Testing.WebApi.Configuration.csprojAssemblyReference.cache
/FN.Testing.WebApi.Configuration/obj/FN.Testing.WebApi.Configuration.csproj.nuget.dgspec.json
/FN.Testing.WebApi.Configuration/obj/FN.Testing.WebApi.Configuration.csproj.nuget.g.props
/FN.Testing.WebApi.Configuration/obj/project.assets.json
/FN.Testing.WebApi/obj/Debug/net5.0/FN.Testing.WebApi.assets.cache
/FN.Testing.WebApi/obj/Debug/net5.0/FN.Testing.WebApi.csprojAssemblyReference.cache
/FN.Testing.WebApi/obj/FN.Testing.WebApi.csproj.nuget.dgspec.json
/FN.Testing.WebApi/obj/FN.Testing.WebApi.csproj.nuget.g.props
/FN.Testing.WebApi/obj/project.assets.json
/FN.Testing.WinForm/obj/Debug/net5.0-windows/FN.Testing.WinForm.assets.cache
/FN.Testing.WinForm/obj/Debug/net5.0-windows/FN.Testing.WinForm.csprojAssemblyReference.cache
/FN.Testing.WinForm/obj/FN.Testing.WinForm.csproj.nuget.dgspec.json
/FN.Testing.WinForm/obj/FN.Testing.WinForm.csproj.nuget.g.props
/FN.Testing.WinForm/obj/project.assets.json
/FN.Test.Functions/obj/Debug/net5.0/FN.Testing.Functions.assets.cache
/FN.Test.Functions/obj/Debug/net5.0/FN.Testing.Functions.assets.cache
/FN.Test.Functions/obj/Debug/net5.0/FN.Testing.Functions.assets.cache
/FN.Testing.WinForm/obj/FN.Testing.WinForm.csproj.nuget.g.props
/FN.Testing.WinForm/obj/project.assets.json
/FN.Testing.WinForm/obj/Debug/net5.0-windows/FN.Testing.WinForm.assets.cache
/FN.Testing.WinForm/obj/Debug/net5.0-windows/FN.Testing.WinForm.csprojAssemblyReference.cache
/FN.Testing.WinForm/obj/FN.Testing.WinForm.csproj.nuget.dgspec.json
/FN.Testing.WinForm/obj/FN.Testing.WinForm.csproj.nuget.g.props
/FN.Testing.WinForm/obj/project.assets.json
/FN.Testing.WebApi/obj/project.assets.json
/FN.Testing.WinForm/obj/Debug/net5.0-windows/FN.Testing.WinForm.assets.cache
/FN.Testing.WinForm/obj/Debug/net5.0-windows/FN.Testing.WinForm.csprojAssemblyReference.cache
/FN.Testing.WinForm/obj/FN.Testing.WinForm.csproj.nuget.dgspec.json
/FN.Testing.WinForm/obj/FN.Testing.WinForm.csproj.nuget.g.props
/FN.Testing.WinForm/obj/project.assets.json
